*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  font-size: 62.5%;
}

.container {
  max-width: 117rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style: none;
}

button {
  border: none;
}

header {
  padding: 3rem 0 0 0;
}
header .cards {
  box-shadow: 0px 22px 52px rgba(0, 0, 0, 0.07);
  border-radius: 60px 0px;
  gap: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6rem 0 6rem 0;
}
header .card {
  width: 33.3%;
  gap: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
header .card h4 {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
header .card p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #888888;
}
header .cards > .card:nth-child(2) {
  border-left: 1.5px solid #ddd;
  border-right: 1.5px solid #ddd;
}

nav {
  gap: 16.2rem;
  display: flex;
  align-items: center;
  justify-content: start;
}
nav ul {
  gap: 3rem;
  display: flex;
  align-items: center;
  justify-content: start;
}
nav a {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  transition: all 0.3s linear;
}
nav a:hover {
  color: #F16214;
}
nav li:last-child > a {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.6rem;
  border-radius: 120px;
  color: #FFFFFF;
  background-color: #F16214;
  border: 1px solid #F16214;
  padding: 7px 17px 7px 17px;
  color: #FFFFFF;
}
nav li:last-child > a:hover {
  color: #F16214;
  background-color: #FFFFFF;
  border: 1px solid #F16214;
}

.hero {
  width: 47%;
  margin: 14rem 0 11rem 0;
}
.hero h1 {
  font-weight: 700;
  font-size: 7.5rem;
  line-height: 9.1rem;
}
.hero p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #888888;
  margin: 1.5rem 0 4rem 0;
}
.hero button {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.4rem;
  border-radius: 5.4rem;
  color: #FFFFFF;
  background-color: #F16214;
  border: 1px solid #F16214;
  gap: 2rem;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 5px 5px 5px 2rem;
  margin: 0 0 4rem 0;
}
.hero button:hover, .hero button:focus {
  color: #F16214;
  background-color: #FFFFFF;
  border: 1px solid #F16214;
}
.hero ul {
  gap: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: start;
}

body > img {
  position: absolute;
  right: 0;
  z-index: -1;
}

.work_bg {
  left: 0;
}

.work {
  padding: 16rem 0 16rem 0;
}

.work_main {
  margin-left: 60rem;
  width: 49%;
}
.work_main h4 {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #F16214;
}
.work_main h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  color: #000000;
  margin: 6rem 0 4.5rem 0;
}
.work_main p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #888888;
}
.work_main button {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.4rem;
  border-radius: 5.4rem;
  color: #FFFFFF;
  background-color: #F16214;
  border: 1px solid #F16214;
  gap: 2rem;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 5px 5px 5px 2rem;
  margin: 3rem 0 0 0;
}
.work_main button:hover, .work_main button:focus {
  color: #F16214;
  background-color: #FFFFFF;
  border: 1px solid #F16214;
}